{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <div class="container portfolio-show">
        <div class="row text-center">
            <div class="col-1"></div>
            <div class="col-10">
                <h2 class="text-primary stm-font show-title"><span class="glyphicon glyphicon-info-sign"
                                                                   aria-hidden="true"></span>
                    {{ portfolio.title }}</h2>
            </div>
            <div class="col-1"></div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="project-frame">
                    <div class="project-cont">
                        <a href="{{ portfolio.url }}">
                            <img src="{{ vich_uploader_asset(portfolio, 'imageFile')|imagine_filter('show') }}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="iphone style-1">
                    <div class="iphone__power-btn"></div>
                    <div class="iphone__left-btn"></div>
                    <div class="iphone__details"></div>
                    <div class="iphone__screen">
                        <a href="#" class="nav__trigger"><span class="nav__icon"></span></a>
                        {# <nav class="nav"> #}
                        {# <ul class="nav__list"> #}
                        {# <li class="nav__item"><a class="nav__link" href="#">Home</a></li> #}
                        {# <li class="nav__item"><a class="nav__link" href="#">About Us</a></li> #}
                        {# <li class="nav__item"><a class="nav__link" href="#">Portfolio</a></li> #}
                        {# <li class="nav__item"><a class="nav__link" href="#">Blog</a></li> #}
                        {# <li class="nav__item"><a class="nav__link" href="#">Contact Us</a></li> #}
                        {# </ul> #}
                        {# </nav> #}
                        {% for pictures in portfolio.pictures %}
                            <div class="iphone__content">
                                <img src="{{ vich_uploader_asset(pictures, 'imageFile')|imagine_filter('mobil') }}">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="iphone__home-btn"></div>
                </div>
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h2 class="text-primary stm-font">{{ portfolio.description |raw }}</h2>
                <a href="{{ path('portfolio_index') }}">
                    <button class="btn-exp btn-2">Retour aux projets</button>
                </a>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

{% endblock %}
