{% extends 'base.html.twig' %}

{% block body %}


    <div class="heading dark-bg">
        <div class="row">
            <div class="col-sm-12 head jumbotron">
                <h1 class="display-3">Maxime KAISER</h1>
                <p class="lead" id="subtitle">Developpeur Web & Mobile</p>
                <hr class="my-4">
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4">
                        <nav>
                            <ul class="list-inline links header-link">
                                <li><a class="btn btn-default btn-lg color-hover" href="https://github.com/MAXIKAIS"
                                       title="Mon GitHub" target="_blank"><i
                                                class="fa fa-github fa-2x select-icon"></i></a></li>
                                <li><a class="btn btn-default btn-lg color-hover"
                                       href="https://www.linkedin.com/in/maxime-kaiser/"
                                       title="Mon Linkedin" target="_blank"><i
                                                class="fa fa-linkedin fa-2x select-icon"></i></a>
                                </li>
                                <li><a class="btn btn-default btn-lg color-hover"
                                       href="https://www.instagram.com/max_k4iser/?hl=fr"
                                       title="Mon Instagram" target="_blank"><i
                                                class="fa fa-instagram fa-2x select-icon"></i></a>
                                </li>
                                <li><a class="btn btn-default btn-lg color-hover"
                                       href="https://www.facebook.com/Miasme4/"
                                       title="Mon Facebook" target="_blank"><i
                                                class="fab fa-facebook fa-2x select-icon"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>

    <body>

    <div class="container">
        <!-- ABOUT ME -->
        <section id="about" class="main-nav">
            <h1 class=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> A propos</h1>
            <span class="animate-border border-black about-anime"></span>
            <div class="row row-about">
                <div class="col-sm-4 ">
                    <span class="circle"></span>
                    <img src="/image/apropos.jpg" alt="description" title="tool tip"
                         class="img-circle rounded-circle shadow up-hover avatar">
                </div>
                <div class="col-sm-8 about-me-text">
                    <h2 class="text-primary stm-font">Hard Skills</h2>
                    <p class="hard-skills">HTML, CSS, SASS, PHP - Symfony, JavaScript - jQuery, Bootstrap, MySQL - Git</p>
                    <h2 class="text-primary stm-font">Soft Skills</h2>
                    <p>Autonome, Sens du contact clients, Adaptabilité, Sens des responsabilités, Travail en équipe, Gestion des priorités</p>
                </div>
            </div>
        </section>
        <!-- END ABOUT ME -->


        <!-- EXPERIENCES -->
        <section id="experiences" class="main-nav">
            <h1 class=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Experiences</h1>
            <span class="animate-border border-black experience-anime"></span>
            <div class="timeline">
                <li>
                    <div class="direction-r">
                        <div class="flag-wrapper">
                            <h2 class="flag"><i class="fas fa-home"></i> Freelancer</h2>
                            <span class="time-wrapper"><span class="time">present</span></span>
                        </div>
                        <div class="desc">Mon emploi actuel. <br>A l'écoute de toute opportunité!</div>
                    </div>
                </li>
                <li>
                    <div class="direction-l">
                        <div class="flag-wrapper">
                            <h2 class="flag"><i class="fas fa-graduation-cap"></i> Wilder</h2>
                            <span class="time-wrapper"><span class="time">2020</span></span>
                        </div>
                        <div class="desc">Étudiant à la Wild Code School. <br>J'y ai appris et réalisé de nombreux projets
                        </div>
                    </div>
                </li>
                <li>
                    <div class="direction-r">
                        <div class="flag-customer">
                            <h2 class="flag"><i class="fas fa-headset"></i> Relation client</h2>
                            <span class="time-wrapper"><span class="time">2009 - 2019</span></span>
                        </div>
                        <div class="desc">J'ai passé 10 ans dans ce domaine auprès d'un opérateur internet et téléphonie mobile français. <br>Durant ma carrière, j'ai pu gravir de nombreux echelons passant de la formation des conseillers clientèles au management d'équipe.
                        </div>
                    </div>
                </li>
            </div>

            <div class="container container-exp">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 text-center">
                        <h2 class="text-primary stm-font">Vous pouvez télécharger mon curriculum vitae
                            <br>juste ici</h2>
                        <a href="/image/CV.pdf">
                            <button class="btn-exp btn-2"><i class="fas fa-download"></i> Download</button>
                        </a>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

        </section>
        <!-- EXPERIENCES -->


        <!-- PORTFOLIO -->
        <section id="portfolio" class="main-nav">
            <h1 class=""><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Portfolio</h1>
            <span class="animate-border border-black portfolio-anime"></span>
            <div class="container portfolio-container portfolio-container-position">
                <div class="thumbnail shadow up-hover portfolio-card">
                    <div id="carousel">
                        {% set i = 0 %}
                        {% for portfolio in portfolios %}
                            {% set i = i+1 %}
                            <figure>
                                <a href="{{ path('portfolio_show', {'id':portfolio.id}) }}">
                                    <img src="{{ vich_uploader_asset(portfolio, 'imageFile')|imagine_filter('show') }}"
                                         alt="">
                                </a>
                            </figure>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>

        <div class="container container-exp">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <h2 class="text-primary stm-font">Details et davantages de projets <br>juste ici</h2>
                    <a href="{{ path('portfolio_index') }}">
                        <button class="btn-exp btn-2"><i class="fas fa-network-wired"></i> Projets</button>
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

        <!-- Portfolio Modal -->
        <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    ICI detail du portfolio
                </div>
            </div>
        </div>
        <!-- PORTFOLIO -->


        <!-- INTERESTS -->
        <section id="interests" class="main-nav">
            <h1 class=""><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                Intérets</h1>
            <span class="animate-border border-black interest-anime"></span>
            <div class="container portfolio-container interests-container">
                <div class="">
                    <div class="row showcase stm-font row-about">
                        <div class="col-sm-4 col-md-4" data-toggle="modal" data-target="#devModal">
                            <div class="thumbnail well shadow up-hover color-hover portfolio-card">
                                <h1><i class="fa fa-code"></i></h1>
                                <h2>Développement</h2>
                                <div class="cust-caption">
                                    <p>Découvrir de nouveaux langages et technologies, me familiariser avec ces derniers et les réutiliser dans mes futurs projets. Voilà mon nouveau quotidien !
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4" data-toggle="modal" data-target="#musicModal">
                            <div class="thumbnail well shadow up-hover color-hover portfolio-card">
                                <h1><i class="fas fa-headphones-alt"></i></h1>
                                <h2>Musique</h2>
                                <div class="cust-caption">
                                    <p>Créer des nouveaux morceaux seul ou en groupe. Je puise dans la musique
                                        l'inspiration et la motivation. Le son m'accompagne au quotidien. Si vous voulez découvrir
                                        ma part sombre c'est ici.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4" data-toggle="modal" data-target="#sportModal">
                            <div class="thumbnail well shadow up-hover color-hover portfolio-card">
                                <h1><i class="fas fa-users"></i></h1>
                                <h2>Sport</h2>
                                <div class="cust-caption">
                                    <p>Amateur de Foot en salle, j'organise de nombreuses rencontres et tournois.
                                        Fondateur d'une communautée de joueur comptant plus de 100 membres je serais ravis de vous
                                        retrouvez sur les terrains.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- INTERESTS MODAL -->
        <div class="modal fade" id="devModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel"><i class="fa fa-code"></i> Développement</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center modal-margin">Découvrir de nouveaux langages et technologies, me familiariser avec ces derniers et les réutiliser dans mes futurs projets.
                            <br>Voilà mon nouveau quotidien !
                            <br>Un projet pour moi ? <br>Vous pouvez me contacter par ici
                        <img src="/image/contact-me.png" width="464" alt="TrainMyTeam image">
                        <div class="row text-center">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <a href="{{ path('contact_new')}}">
                                    <button class="btn-exp btn-2 btn-contact-modal"><i class="fas fa-paper-plane"></i> Me contacter</button>
                                </a>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="musicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel"><i class="fas fa-guitar"></i> Musique</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Créer des nouveaux morceaux seul ou en groupe. Je puise dans la musique
                            l'inspiration et la motivation. Le son m'accompagne au quotidien. <br>Si vous voulez découvrir
                            ma part sombre c'est ici.</p>
                        <iframe width="464" height="260" src="https://www.youtube.com/embed/Fu-2L39bYIg" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="sportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLabel"><i class="fas fa-futbol"></i> Sport</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-center">Amateur de Foot en salle, j'organise de nombreuses rencontres et tournois.
                            Fondateur d'une communautée de joueur comptant plus de 100 membres je serais ravis de vous
                            retrouvez sur les terrains.</p>
                        <p class="text-center">Rejoignez la communauté juste ici</p>
                        <a href="">
                            <img src="/image/TMT.jpg" width="464" alt="TrainMyTeam image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END INTERESTS -->

        <!-- CONTACT -->
        <section id="contact" class="main-nav">
            <div class="section-heading">
                <h1><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Contact
                </h1>
                <span class="animate-border border-black contact-anime"></span>
            </div>
            <div class="row contact-row">
                <div class="col-2"></div>
                <div class="col-8 text-center">
                    <h2 class="text-primary stm-font">Vous pouvez m'envoyer un message
                        <br>juste ici</h2>
                    <a href="{{ path('contact_new')}}">
                        <button class="btn-exp btn-2"><i class="fas fa-paper-plane"></i> Envoyer</button>
                    </a>
                </div>
                <div class="col-2"></div>
            </div>
        </section>
        <!-- END CONTACT -->


    </div><!--end container-->
    </body>


{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
